* {
    /* border: 1px dotted black; */
    box-sizing: border-box;
}
/* body {
    background-color: gray;
} */


#twoforms {
    height: 290px;
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
    clip-path: inset(-10px -10px 0px -10px);
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    padding: 0px 10px;
}

#insert {
    height: 20px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}


#main {
    max-width: 500px;
    margin: auto;
    background-color: white;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.formup {
    display: flex;
    flex-direction: column;
}
.btn {
    width: 50%;
    display: inline-block;
    text-align: center;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
    clip-path: inset(0px -10px -10px -10px);
}
#switch {
    display: flex;
}
.invalid {
    color: red;
    font-size: x-small;
    margin: 0;
}
.mainbtn {
    justify-self: end;
}

.invisible {
    display: none;
}
.faded {
    border-bottom: 1px solid rgb(230, 230, 230);
    color: gray;
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
    clip-path: inset(0px 0px 0px 0px);
    border-left: 1px solid rgb(230, 230, 230);
    border-right: 1px solid rgb(230, 230, 230);
}
.faded2 {
    border-bottom: 1px solid gray;
}

#left, #right {
    width: 50%;
    height: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
    clip-path: inset(0px 0px -10px 0px);
}

#insert {
    width: 100%;
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
    clip-path: inset(0px -10px 0px -10px);
}